extends layout

block content
  h1 The stocks today:
  .stocks
    each stock in stocks
      p #{stock.quote.companyName} – #{stock.quote.symbol}
      //- Add button to delete the stock
    .new-stock
      form.add-stock(action="/add-stock" method="POST")
        label(for="newStock") Type the stock symbol:
        input(type="text" name="newStock" id="newStock" placeholder="FB, MSFT, AMZN")
        input(type="submit" value="Add new stock")
  .chart-container
    .buttons
    .chart
      canvas(id="stocks-chart" width="400" height="250")
  script.
    let labels = !{dates};
    let datasets = !{datasets};

    window.onload = function() {
      let ctx = document.getElementById("stocks-chart").getContext('2d');
      let stocksChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels,
          datasets
        }
      });
    }